.profileCard {
    background-color: #c0c0c0;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0 #000000;
    padding: 2px;
    max-width: 300px;
    margin: 20px auto;
}

.profileHeader {
    background-color: #959595;
    color: #ffffff;
    padding: 4px;
    font-weight: bold;
}

.profileContent {
    background-color: #ffffff;
    border: 1px solid #808080;
    padding: 10px;
}

.displayName, .email, .field {
    margin: 0 0 10px 0;
    font-size: 14px;
}

.displayName strong, .email strong, .field strong {
    margin-right: 5px;
    display: inline-block;
    width: 100px;
}

.inputBox {
    background-color: #fff;
    border: 2px inset #dfdfdf;
    box-shadow: inset 1px 1px 0 0 #888;
    font-size: 14px;
    padding: 3px 5px;
    color: #000;
    font-family: w95fa;
}
  

.button {
    background-color: #959595;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    font-family: w95fa;
}

.button:hover {
    background-color: #808080;
}
